{
  "baseURL": "https://uspdigital.usp.br",
  "loginURL": "https://uspdigital.usp.br/jupiterweb/webLogin.jsp",
  "authURL": "https://uspdigital.usp.br/jupiterweb/autenticar",
  "listPageURL": "https://uspdigital.usp.br/jupiterweb/beneficioBolsaUnificadaListar?codmnu=6684",
  "dwrApiURL": "https://uspdigital.usp.br/jupiterweb/dwr/call/plaincall/BeneficioBolsaUnificadaControleDWR.listarBeneficioBolsaUnificada.dwr",
  "user": "username",
  "password": "password",
  "year": "2015",
  "userAgent": "",
  "timeout": 180
}
